<%- include("_header_page") -%>
<%
    let motorTurnedOnCount = 0; //số lần máy bơm được bật
    feeds.forEach(obj => {
        if(obj.field4=="1"){
            motorTurnedOnCount++;
        }
    })
    var electricUsedCurrentMonth = 12 * 0.6 * (30 * motorTurnedOnCount / 3600);
    var WhTokWh= electricUsedCurrentMonth/1000;
    electricUsedCurrentMonth = +(Math.round(electricUsedCurrentMonth + "e+2")  + "e-2");
    var priceTotal = 0;
    console.log("WhTokWh", +(Math.round(WhTokWh + "e+2")  + "e-2") );

    if(WhTokWh >= 401){
        var val1 = WhTokWh - 400;
        priceTotal  = val1 * 2927;
        priceTotal += 100*2834;
        priceTotal += 100*2536;
        priceTotal += 100*2014;
        priceTotal += 50*1734;
        priceTotal += 50*1678;
    }else if(301 <= WhTokWh){
        var val = WhTokWh - 300;
        priceTotal  = val*2834;
        priceTotal += 100*2536;
        priceTotal += 100*2014;
        priceTotal += 50*1734;
        priceTotal += 50*1678;
    }else if(201 <= WhTokWh){
        var val = WhTokWh - 200;
        priceTotal  = val*2536;
        priceTotal += 100*2014;
        priceTotal += 50*1734;
        priceTotal += 50*1678;
    }else if(101 <= WhTokWh){
        var val = WhTokWh - 100;
        priceTotal  = val*2014;
        priceTotal += 50*1734;
        priceTotal += 50*1678;
    }else if(51 <= WhTokWh){
        var val = WhTokWh - 50;
        priceTotal  = val*1734;
        priceTotal += 50*1678;
    }else if(0 <= WhTokWh){
        priceTotal = val*1678;
    }
    if(isNaN(priceTotal)){
        priceTotal=0;
    }
  
    WhTokWh = +(Math.round(WhTokWh + "e+2")  + "e-2");
%>
<div class="row justify-content-start m-3">
    <div class="col-4">
        <img class="image" src="../imgs/dien.jpg" width="300px"/>
    </div>
    <div class="col-8 featured">
        <p class="h4">THÔNG TIN ĐIỆN TIÊU DÙNG CHO HỆ THỐNG TRONG THÁNG</p>
        <p>
            Tổng lượng điện tiêu thụ trong tháng đến nay: <strong><%= electricUsedCurrentMonth %> Wh ~ <%= WhTokWh %>kWh</strong><br>
            Số tiền điện tương ứng là : <strong><%= priceTotal %> VNĐ</strong><br>
        </p>
        <p class="text-right">
            <em>Thông tin mang tính chất ước lượng dựa trên giá điện sinh hoạt của EVN !</em>
            <div>
                <img src="../imgs/gia-dien.png" width="100%"/>
            </div>
        </p>
    </div>
</div>

<%- include("_footer") -%>