<%- include("_header") -%>

<div class="row">
    <div class="col p-3">
        <h2 class="text-center">DỮ LIỆU TRONG THÁNG <%= month %></h2>
    </div>
    
</div>
<div class="row mga">
        <div class="col">
            <canvas id="do-am-dat" width="500" height="300"></canvas>
        </div>
        <div class="col">
            <canvas id="do-am-kk" width="500" height="300"></canvas>
        </div>
</div>
<div class="row mga">
    <div class="col">
        <canvas id="nhiet-do-kk" width="500" height="300"></canvas>
    </div>
    <div class="col">
        <canvas id="trang-thai-bom" width="500" height="300"></canvas>
    </div>
</div>

<script>
    let doAmDatTimes = [<% feeds.forEach(function(feed) { %>'<%= moment(feed.created_at).format('D/M/YY h:mm:ss') %>',<% }); %>];
    let doAmDatDatas = [<% feeds.forEach(function(feed) { %>'<%= feed.field1 %>',<% }); %>];
    let doAmKkDatas = [<% feeds.forEach(function(feed) { %>'<%= feed.field2 %>',<% }); %>];
    let nhietDoDatas = [<% feeds.forEach(function(feed) { %>'<%= feed.field3 %>',<% }); %>];
    let bomDatas = [<% feeds.forEach(function(feed) { %>'<%- escape(feed.field4).replace(/\n/g, '\n') %>',<% }); %>];
    
    const doAmDatctx = document.getElementById('do-am-dat');
    const doAmKkctx = document.getElementById('do-am-kk');
    const nhietDoctx = document.getElementById('nhiet-do-kk');
    const tinhTrangBomctx = document.getElementById('trang-thai-bom');
    const doAmDat = new Chart(doAmDatctx, {
        type: 'bar',
        data: {
            labels: doAmDatTimes, //thoi gian
            datasets: [{
                label: 'Độ ẩm đất',
                data: doAmDatDatas,//du lieu
                backgroundColor: ['rgb(88, 0, 0)','rgb(88, 0, 0)'],
                borderColor: ['rgb(153, 51, 51)','rgb(153, 51, 51)'],
                borderWidth: 1}]
            },options: {
                responsive: false,
                scales: {x: {ticks: {font: {size: 8}}}}
            }
    });
    const doAmKk = new Chart(doAmKkctx, {
        type: 'bar',
        data: {
            labels: doAmDatTimes, //thoi gian
            datasets: [{
                label: 'Độ ẩm không khí',
                data: doAmKkDatas,//du lieu
                backgroundColor: ['rgb(0, 102, 255)','rgb(0, 102, 255)'],
                borderColor: ['rgb(204, 224, 255)','rgb(204, 224, 255)'],
                borderWidth: 1}]
        },options: {
            responsive: false,
            scales: {x: {ticks: {font: {size: 8}}}}
        }
    });
    const nhietdokk = new Chart(nhietDoctx, {
        type: 'bar',
        data: {
            labels: doAmDatTimes, //thoi gian
            datasets: [{
                label: 'Nhiệt độ không khí',
                data: nhietDoDatas,//du lieu
                backgroundColor: ['rgb(204, 0, 0)','rgb(204, 0, 0)'],
                borderColor: ['rgb(255, 204, 204)','rgb(255, 204, 204)'],
                borderWidth: 1}]
            },options: {
                responsive: false,
                scales: {x: {ticks: {font: {size: 8}}}}
            }
    });
    const tinhTrangBom = new Chart(tinhTrangBomctx, {
        type: 'bar',
        data: {
            labels: doAmDatTimes, //thoi gian
            datasets: [{
                label: 'Trạng thái bơm',
                data: bomDatas,//du lieu
                backgroundColor: ['rgb(102, 204, 0)','rgb(102, 204, 0)'],
                borderColor: ['rgb(153, 204, 0)','rgb(153, 204, 0)'],
                borderWidth: 1}]
            },options: {
                responsive: false,
                scales: {x: {ticks: {font: {size: 8}}}}
            }
    });
</script>


<%- include("_footer") -%>