<%- include("_header_page") -%>

<%
    let motorTurnedOnCount = 0; //số lần máy bơm được bật
    feeds.forEach(obj => {
        if(obj.field4!="0"){
            motorTurnedOnCount++;
        }
    })

    var secondCurrentMonth = motorTurnedOnCount * 30; //30s
    var hourCurrentMonth = secondCurrentMonth * 0.000278;
    hourCurrentMonth = +(Math.round(hourCurrentMonth + "e+2")  + "e-2");
    var waterCurrentMonth = (hourCurrentMonth * 72)/1000; // 1,2 lit x 60phut = 72;
    waterCurrentMonth = +(Math.round(waterCurrentMonth + "e+2")  + "e-2");
%>
<div class="row justify-content-start m-3">
    <div class="col-4">
        <img class="image" src="../imgs/nuoc.jpg" width="300px"/>
    </div>
    <div class="col-8 featured">
        <p class="h3">THÔNG TIN SỬ DỤNG NƯỚC TRONG THÁNG</p>
        <p class="">
            Số lần máy bơm được bật trong tháng này: <strong><%= motorTurnedOnCount %></strong> <br>
            Tổng thời gian bơm tháng này:  <strong><%= hourCurrentMonth %> giờ </strong><br>
            Tổng lượng nước sử dụng tháng này:  <strong><%= waterCurrentMonth %> ㎥ </strong>(~1,2 lít/phút)<br>
        </p>
        <p class="text-right">
            <em>Thông tin mang tính chất ước lượng dựa trên đơn giá chung!</em>
            <div>
                <img class="image" src="../imgs/gia-nuoc.png" width="90%"/>
            </div>
        </p>
    </div>
    
</div>



<%- include("_footer") -%>